<div class="row d-flex mx-auto col-12 col-sm-6">
  <%= form_with(model: note ) do |form| %>
    <% if note.errors.any? %>
      <div style="color: red">
        <h5><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h5>

        <ul>
          <% note.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mt-2">
      <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="mt-2">
      <%= form.label :body, class: 'form-label' %>
      <%= form.text_area :body, class: 'form-control' %>
    </div>

    <div class="mt-2">
      <%= form.label :date, class: 'form-label' %>
      <%= form.date_field :date, max: Date.today, class: 'form-control' %>
    </div>

    <div class="mt-2">
      <button class="btn btn-primary" type="submit">Send</button>
    </div>
  <% end %>
</div>
